main {
    margin-top: 30px;

    .product-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        padding: 0 5rem;
        list-style: none;

        .product-card {
            width: 30%;
            padding: 15px;
            margin: 16px;
            display: flex;
            flex-direction: column;
            border: #eee 1px solid;
            box-shadow: 5px 5px 5px #eee;
            border-radius: 5px;

            figure {
                margin: 0;
                padding: 0;
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 100%;
                overflow: hidden;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
                transition: box-shadow 0.3s ease-in-out;

                &:hover {
                    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}